.logo a::before{
    border-top: 4px solid #72b626;
    border-left: 4px solid #72b626;
}

.logo a::after{
    border-bottom: 4px solid #72b626;
    border-right: 4px solid #72b626;
}

.side .nav li a:hover,
.side .nav li a.active,
body.dark .side .nav li a:hover,
body.dark .side .nav li a.active,
.about .about-content .about-text h3 span
{
    color: #72b626;
}

.progress-in,
.timeline .circle-dot,
.timeline-item::before,
.btn,
.about .about-content .skills .skill-item .progress .progress-in,
.home .social-link a,
.side .nav-toggler span,
.side .nav-toggler span::before,
.side .nav-toggler span::after,
.section-title h2::before,
.section-title h2::after{
    background-color: #72b626;
}

.pink {
    color: #72b626;   
}